<footer id="footer">
  <div class="footer">
    <div class="contact">
      <h2>Contacto</h2>
      <form class="contact-form">
        <input type="text" placeholder="Nombre">
        <input type="email" placeholder="Email">
        <textarea name="" id="" placeholder="Mensaje"></textarea>
        <input class="btn-fill" type="submit" value="Enviar">
      </form>
    </div>
    <div class="contacts">
      <p>
        <i class="fa-brands fa-linkedin"></i>
        Linkedin:
        <a href="{{usuario.linkedn}}" target="_blank">{{usuario.linkedn}}</a>
      </p>
      <p>
        <i class="fa-brands fa-github"></i>
        Github: <a href="{{usuario.github}}" target="_blank">{{usuario.github}}</a>
      </p>
      <p>
        <i class="fa-solid fa-envelope"></i>
        Email: <a href="{{usuario.email}}" target="_blank">{{usuario.email}}</a>
      </p>
      <p>
        <i class="fa-solid fa-phone"></i>
        Telefono: {{usuario.persona.telefono}}
      </p>

      <img src="https://i.postimg.cc/SK5MV3zG/i-am-a-programmer-coder-developer-computer-gift-thomas-larch.png"
        alt="imagen_programador">
    </div>
  </div>
  <div class="copyright">
    Creado por Raul Funes (2023) &#169;
  </div>
</footer>