

<!-- Seccion Proyectos -->


<!-- Seccion de Articulos -->
<section class="articles justify-content-start">
  <h2 class="section-title dark-text">
    Articulos
  </h2>
  <div class="card">
    <div class="card-header">
      Más recientes
    </div>
    <ul class="list-group list-group-flush">
      <a href="" target="_blank">
        <li class="list-group-item">Lorem ipsum dolor sit amet.</li>
      </a>
      <a href="" target="_blank">
        <li class="list-group-item">Lorem ipsum dolor sit./li>
      </a>
      <a href="" target="_blank">
        <li class="list-group-item">Lorem ipsum dolor sit amet.</li>
      </a>
      <a href="" target="_blank">
        <li class="list-group-item">Lorem ipsum dolor sit amet.</li>
      </a>
      <a href="" target="_blank">
        <li class="list-group-item">Lorem ipsum dolor sit amet.</li>
      </a>
      <a href="" target="_blank">
        <li class="list-group-item">Lorem ipsum dolor sit amet.</li>
      </a>
    </ul>
  </div>

  <a href="" target="_blank">
    <button type="button" class="btn btn-info">Ver más articulos <i class="bi bi-arrow-right-circle-fill"></i></button>
  </a>
</section>

<!-- Seccion de Testimonios -->
<section class="testimonials light-section">
  <h2 class="section-title">Testimonios</h2>
  <h3 class="section-description">Estos son algunos testimonios de mis clientes</h3>

  <!-- Carrusel -->
  <div id="testimonials-carousel" class="carousel carousel-dark slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <img class="testimonial-img" src="../../../assets/prueba/foto_perfil.jpg" alt="Cliente 1">
          <p class="testimonial-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, alias!
            Aperiam
            doloribus facere, odio possimus ex, expedita ullam provident numquam vel fugit veniam quo, atque culpa
            repellendus consectetur ut iure quas hic eaque quod perferendis voluptatum officiis voluptas? Assumenda,
            numquam.</p>
          <div class="testimonial-info">
            <p class="client">Gino</p>
            <p class="charge">Gerente de Proyectos en DesarrolloWeb</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <img class="testimonial-img" src="../../../assets/prueba/foto_perfil.jpg" alt="Cliente 1">
          <p class="testimonial-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, alias!
            Aperiam
            doloribus facere, odio possimus ex, expedita ullam provident numquam vel fugit veniam quo, atque culpa
            repellendus consectetur ut iure quas hic eaque quod perferendis voluptatum officiis voluptas? Assumenda,
            numquam.</p>
          <div class="testimonial-info">
            <p class="client">Gino</p>
            <p class="charge">Gerente de Proyectos en DesarrolloWeb</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <img class="testimonial-img" src="../../../assets/prueba/foto_perfil.jpg" alt="Cliente 1">
          <p class="testimonial-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, alias!
            Aperiam
            doloribus facere, odio possimus ex, expedita ullam provident numquam vel fugit veniam quo, atque culpa
            repellendus consectetur ut iure quas hic eaque quod perferendis voluptatum officiis voluptas? Assumenda,
            numquam.</p>
          <div class="testimonial-info">
            <p class="client">Gino</p>
            <p class="charge">Gerente de Proyectos en DesarrolloWeb</p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#testimonials-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#testimonials-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<!-- Seccion de Contacto -->
<section class="contact dark-section">
  <div class="container">
    <div class="container rectangle text-center d-flex justify-content-evenly">
      <div class="row">
        <div class="col-12 col-md-4 section-title">¡Hablemos!</div>
        <div class="col-12 col-md-4 desctiption">
          Contactame para iniciar tu proyecto de desarrollo web
        </div>
        <div class="col-12 col-md-4">
          <a href="mailto: raulsergiofunes@gmail.com">
            <button type="button">
              Contacto
              <i class="bi bi-envelope-fill"></i>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Pie de Pagina -->

