<app-loading *ngIf="!usuario"></app-loading>
<div *ngIf="usuario" [@fadeInOnEnter]>
    <app-header (logoutAll)="logout()" [usuLogged]="usuLogged"></app-header>
    <app-hero-section [usuario]="usuario" [usuLogged]="usuLogged" [persona]="usuario.persona"></app-hero-section>
    <app-about (modificacion)="cargarUsuarios()" [usuLogged]="usuLogged" [persona]="usuario.persona"></app-about>
    <app-experiencia (modificacion)="cargarUsuarios()" [usuLogged]="usuLogged" [usuario]="usuario"
        [experiencias]="usuario.experiencia"></app-experiencia>
    <app-estudios (modificacion)="cargarUsuarios()" [usuLogged]="usuLogged" [usuario]="usuario"
        [estudios]="usuario.estudios"></app-estudios>
    <app-proyectos (modificacion)="cargarUsuarios()" [usuLogged]="usuLogged" [usuario]="usuario"
        [proyectos]="usuario.proyectos"></app-proyectos>
    <app-habilidades (modificacion)="cargarUsuarios()" [usuLogged]="usuLogged" [usuario]="usuario"
        [tecnologias]="usuario.tecnologias"></app-habilidades>
    <app-footer [usuario]="usuario"></app-footer>
</div>